{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# This is your BehaviorScoringRun first cell\n",
    "# The path below will be injected dynamically\n",
    "PATH_CONFIG = \"{{ experiment_root }}/Codes/Config/PathConfig.py\"\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": [
    "# Additional code for your notebook goes here\n",
    "print('Running behavior scoring...')\n"
   ]
  }
 ]
}
